<html>
    <head>
        <style>
            .bgimg{
                width:100%;
                height:100%;
                background-image:url('배경사진.png');
            }
            img{
                width:100%
            }

            
            </style>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="boot.css">
    </head>

    <head>
        <div class="col-12">
            <img src="../../../public/images/배경사진.PNG" alt="bgimg" height="700em" width="100%" class="img-responsive">
            <div class="carousel-caption h-50 ">
                <h1>Welcome To Our Studio!</h1>
                <h1 class="display2">IT'S NICE TO MEET YOU</h1>
                <button type="button" class="btn btn-warning">Tell me more</button>
            </div>
        </div>

        <div class="container">
            <div class="col-12">
                <h1><p class="text-center">Services</p></h1></div>
            <p class="text-center">Loren sum dolar sit</p>
            <div class="row ">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure class="figure">
                    <img src="../../../public/images/로고1.png" class="figure-img img-fluid rounded pl-4">
                    <figcaption class="figure-caption text-center">
                        <h1>E commerce</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                    </figcaption>
                </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                        <figure class="figure">
                            <img src="../../../public/images/로고2.png" class="figure-img img-fluid rounded pl-50%" >
                            <figcaption class="figure-caption text-center">
                                <h1>E commerce</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                            </figcaption>
                        </figure>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                                <figure class="figure">
                                    <img src="../../../public/images/로고3.png" class="img-responsive center-block figure-img img-fluid rounded ">
                                    <figcaption class="figure-caption text-center">
                                        <h1>E commerce</h1>
                                        <p>Lorem ipsum dolor sit amet, condectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni,dicta impedit.</p>
                                    </figcaption>
                                </figure>
                            </div>
            </div>


        </div>
        <div class="container">
        <div class="col-12">
            <h1><p class="text-center">PORTFOLIO</p></h1>
            <p class="text-center">Lorem ipsum dolar sit amet consectetur</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-12 ">
                <div class="col-lg-12 col-sm-12 justify-content-center">
                    <img src="../../../public/images/내용1.png" class="img-rounded">
                    <div class="col-lg-12 col-md-12 col-sm-12 ">
                        <h1><p class="text-center">Threads</p></h1>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 ">
                        <p class="text-center">illustration</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-5 col-sm-12">
                    <div class="col-lg-12 col-sm-12 justify-content-center">
                        <img src="../../../public/images/내용2.png" class="img-rounded">
                        <div class="col-lg-12 col-md-12 col-sm-12 ">
                            <h1><p class="text-center">Explore</p></h1>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 ">
                            <p class="text-center">graphic Design</p>
                        </div>
                    </div>
    
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="col-lg-12 col-sm-12">
                            <img src="../../../public/images/내용3.png" class="center-block">
                            <div class="col justify-content-center">
                                <h1><p class="text-center">Finish</p></h1>
                            </div>
                            <div class="col justify-content-center">
                                <p class="text-center">Identity</p>
                            </div>
                        </div>
        
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="col-lg-12 col-sm-12">
                                <img src="../../../public/images/내용4.png" class="center-block">
                                <div class="col justify-content-center">
                                    <h1><p class="text-center">Lines</p></h1>
                                </div>
                                <div class="col justify-content-center">
                                    <p class="text-center">Branding</p>
                                </div>
                            </div>
            
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="col-lg-12 col-sm-12">
                                    <img src="../../../public/images/내용5.png" class="center-block">
                                    <div class="col justify-content-center">
                                        <h1><p class="text-center">Southwest</p></h1>
                                    </div>
                                    <div class="col justify-content-center">
                                        <p class="text-center">Website Design</p>
                                    </div>
                                </div>
                
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="col-lg-12 col-sm-12">
                                        <img src="내용1.png" class="center-block">
                                        <div class="col justify-content-center">
                                            <h1><p class="text-center">Window</p></h1>
                                        </div>
                                        <div class="col justify-content-center">
                                            <p class="text-center">Photography</p>
                                        </div>
                                    </div>
                    
                                </div>

        </div>
    </div>
            

    </head>

</html>